<template>
  <div id="app">
    <h1> Hello World </h1>
  </div>
</template> 

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
